{% extends 'base.html.twig' %}

{% block title %}Changement de mote de passe - KALOS{% endblock %}

{% block body %}
    <section class="flex items-center justify-center text-white min-h-screen bg-center"
             style="background-image: url('{{ asset('images/image-background/jeanne-darc.png') }}')">
        <div class="w-full max-w-md bg-white/80 outline-2 outline-offset-0 outline-black p-6 rounded-lg shadow-lg text-black">

            <h1 class="lg:text-2xl md:text-xl text-lg font-semibold text-center mb-4">Changer le mot de passe</h1>

            <a href="{{ path('app_account') }}" class="text-sm font-semibold mb-4 mt-4 text-black"><i class="fa-solid fa-arrow-left"></i> Retour vers votre compte</a>

            {{ form_errors(formUpdatePassword) }}

            {{ form_start(formUpdatePassword, { 'method': 'POST', 'attr': { 'class': 'space-y-4' } }) }}

            <div>
                {{ form_label(formUpdatePassword.currentPassword, 'form.current_password.label'|trans, { label_attr: { class: 'block text-black' } }) }}
                {{ form_widget(formUpdatePassword.currentPassword, { attr: { class: 'w-full px-4 py-2 rounded bg-gray-300/80 text-black focus:outline-none focus:ring-2 focus:ring-black' } }) }}
                {% for error in formUpdatePassword.currentPassword.vars.errors %}
                    <p class="text-red-500">{{ error.message|trans }}</p>
                {% endfor %}
            </div>

            <div>
                {{ form_label(formUpdatePassword.plainPassword.new_password, 'form.new_password.label'|trans, { label_attr: { class: 'block text-black' } }) }}
                {{ form_widget(formUpdatePassword.plainPassword.new_password, { attr: { class: 'w-full px-4 py-2 rounded bg-gray-300/80 text-black focus:outline-none focus:ring-2 focus:ring-black' } }) }}
                {% for error in formUpdatePassword.plainPassword.new_password.vars.errors %}
                    <p class="text-red-500">{{ error.message|trans }}</p>
                {% endfor %}
            </div>

            <div>
                {{ form_label(formUpdatePassword.plainPassword.confirm_password, 'form.confirm_password.label'|trans, { label_attr: { class: 'block text-black' } }) }}
                {{ form_widget(formUpdatePassword.plainPassword.confirm_password, { attr: { class: 'w-full px-4 py-2 rounded bg-gray-300/80 text-black focus:outline-none focus:ring-2 focus:ring-black' } }) }}
                {% for error in formUpdatePassword.plainPassword.confirm_password.vars.errors %}
                    <p class="text-red-500">{{ error.message|trans }}</p>
                {% endfor %}
            </div>


            <button type="submit" class="w-full bg-gray-500/80 hover:bg-gray-900/80 cursor-pointer text-white font-semibold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-black">
                Confirmer
            </button>

            {{ form_end(formUpdatePassword) }}

        </div>

    </section>
{% endblock %}